<div class="App">
  <div class="cover">
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipPkBui6_NUqTQrLRYF4h7WY7Zc9v05jZp3_GVJK=s1360-w1360-h1020"
      alt="Cover"
      class="cover-image"
    />
    <div class="cover-overlay"></div>
    <div class="cover-content">
      <h1 class="cover-title">
        Find <span class="highlight">comfort</span>, Find
        <span class="highlight">style</span>, Find
        <span class="highlight">home.</span>
      </h1>
      <div class="sub-title">
        <h1>Your perfect rental awaits</h1>
      </div>
      <div class="description">
        Cozy cabins nestled by serene bayou waters, perfect for a tranquil
        retreat.<br />Experience nature's beauty and unwind in comfort.
      </div>
      <a href="" class="get-started">Let's get started...</a>
      <div class="sub-title">
        <h6 class="text-primary">
          Phone: <a class="link-for-phone" href=""> +1 409-978-2400</a>
        </h6>
      </div>
    </div>
  </div>

  <!-- 2nd container -->
  <div class="row">
    <h1 class="first-head">
      <span class="span-head">W</span
      ><span class="reduce">elcome to Cabins in the Bayou</span>
    </h1>

    <div class="col-lg-2"></div>
    <div class="col-lg-3 fcontainer-txt">
      <p class="fpara">
        Nestled by the serene waters of the bayou, our cozy cabins offer the
        perfect retreat for those seeking tranquility and comfort. Whether
        you're looking to unwind in nature or enjoy a peaceful getaway, Bayou
        Cabins provides a unique blend of rustic charm and modern amenities.
        Explore our wide range of cabins, each designed to provide a cozy and
        relaxing atmosphere. Experience the beauty of the bayou and make lasting
        memories with us. Unwind on your private porch as you soak in panoramic
        views of the bayou, or embark on an adventure exploring the nearby
        trails and waterways. Whether you're seeking a romantic escape, a family
        retreat, or a solo adventure, Bayou Cabins offers an unforgettable
        experience for all.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="imgg col-lg-4">
      <img
        src="https://www.bayoucabins.com/assets/images/img1.png"
        alt=""
        class="img1"
      />
    </div>

    <div class="col-lg-4"></div>
  </div>

  <!-- third container -->
  <div class="third-container">
    <h3 class="ms-5 mt-5 mb-5 th-title">Recent Offers</h3>
    <div class="third-container-cards">
      <div class="card" style="width: 18rem">
        <img
          src="https://lh3.googleusercontent.com/p/AF1QipOgmrybFSei6mwT8GDx-PBL8V_WzOPP_3FJ_hOo=s1360-w1360-h1020"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <img
          src="https://lh3.googleusercontent.com/p/AF1QipNau5Gb14Dv65bMy1Sih74Ir5NbKKTSvWDY9Cxm=s1360-w1360-h1020"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <img
          src="https://lh3.googleusercontent.com/p/AF1QipOgmrybFSei6mwT8GDx-PBL8V_WzOPP_3FJ_hOo=s1360-w1360-h1020"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <img
          src="https://lh3.googleusercontent.com/p/AF1QipNau5Gb14Dv65bMy1Sih74Ir5NbKKTSvWDY9Cxm=s1360-w1360-h1020"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->

  <div class="foot d-flex text-dark">
    <div class="box mt-5">
      <h4><span class="top fw-bolder fs-3">Contact Us</span></h4>
      <div id="top1">
        <br />
        <h5 class="pa">Phone</h5>
        +1 409-978-2400
        <br /><br />
        <h5 class="pa">Address</h5>
        8518 Hwy 6, Hitchcock, TX 77563, United States
      </div>
    </div>

    <div class="box1 ms-5 mt-5">
      <!-- <img class="footerim" src="./Logo figma.png" alt=""> -->
      <p class="text-center">
        "Escape to serene bayou cabins for a perfect blend of tranquility and
        comfort."
      </p>

      <!-- <h4 id="follow"> <br><br>
            <i class="fa-brands fa-instagram"></i>&nbsp;
            <i class="fa-brands fa-telegram"></i>&nbsp;
            <i class="fa-brands fa-facebook"></i>&nbsp;
            <i class="fa-brands fa-whatsapp"></i>
        </h4> -->
    </div>

    <div class="box ms-5 mt-5">
      <h4><span class="top fw-bolder fs-3">Utility Pages</span></h4>
      <p id="top1">
        <br /><br />
        404 Not found
        <br />
        <br />
        Password Protected
        <br />
        <br />
        Licences
        <br />
        <br />
      </p>
    </div>
    <div class="footer-img mt-5"></div>
  </div>
</div>
