<div class="App">
  <div class="cover">
    <img src="https://lh3.googleusercontent.com/p/AF1QipPkBui6_NUqTQrLRYF4h7WY7Zc9v05jZp3_GVJK=s1360-w1360-h1020"
      alt="Cover" class="cover-image" />
    <div class="cover-overlay"></div>
    <div class="cover-content">
      <h1 class="cover-title">
        Find <span class="highlight">comfort</span>, Find
        <span class="highlight">style</span>, Find
        <span class="highlight">home.</span>
      </h1>
      <div class="sub-title">
        <h1>Your perfect rental awaits</h1>
      </div>
      <div class="description">
        Cozy cabins nestled by serene bayou waters, perfect for a tranquil
        retreat.<br />Experience nature's beauty and unwind in comfort.
      </div>
      <a class="get-started">Let's get started...</a>
      <div class="sub-title">
        <h6 class="text-primary">
          Phone: <a class="link-for-phone"> +1 409-978-2400</a>
        </h6>
      </div>
    </div>
  </div>

  <!-- 2nd container -->
  <div class="row container-2">
    <h1 class="first-head">
      <span class="span-head">W</span><span class="reduce">elcome to Cabins in the Bayou</span>
    </h1>

    <div class="col-lg-2"></div>
    <div class="col-lg-3 fcontainer-txt">
      <p class="fpara">
        Our story begins with the founders, Darrell and Barbara Edgley, who hand built the cabins that you could be
        staying in! The original idea for cabins on the bayou was a place for plant workers to stay while away from home
        for company trips. Currently we still rent to many plant workers, as well as people looking for a home away from
        home, or even long term residents; we thrive to give every resident a comfortable and reliable stay with us.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="desc-image col-lg-4">
      <img src="https://www.bayoucabins.com/assets/images/img1.png" alt="" class="img1" />
    </div>

    <div class="col-lg-4"></div>
  </div>

  <!-- List 1-->
  <div class="list">
    <strong>Things you may like to know before staying with us</strong>

    <div class="details-list">
      <ul>
        <li>
          <p>We have an open laundromat on the property</p>
        </li>

        <li>
          <p>We provide internet </p>
        </li>

        <li>
          <p>We have community grills and fire pits for you to use at your leisure</p>
        </li>

        <li>
          <p>No pets allowed (esa and service anaimals are accommodated )</p>
        </li>

        <li>
          <p>All units come fully stocked with dining utensils, pots and pans, as well as a set of towles and toiletries
            for the bathroom</p>
        </li>

        <li>
          <p>We offer full sized cabins as well as smaller units in fourplex</p>
        </li>

        <li>
          <p>We offer week to week payments for rent or month to month
          </p>
        </li>

        <li>
          <p>All units 2 beds 1 bathroom second beds are located in a loft </p>
        </li>

        <li>
          <p>All units come with one parking spot more can be requested at no charge </p>
        </li>

        <li>
          <p>Our fourplex units are 285 sq ft, and our cabins are 390 sq ft</p>
        </li>

      </ul>
    </div>
  </div>

  <!-- List 2 -->
  <!-- <div class="list">
    <strong>Pricing</strong>
    <p class="subheading">ALL UNITS REQUIRE A $125 DEPOSIT</p>

    <ul class="alternating-colors">
      <p class="head">weekly</p>

      <li>
        <p>$350 for cabin </p>
      </li>

      <li>
        <p>$290 for fourplex unit </p>
      </li>
    </ul>

    <ul class="alternating-colors">
      <p class="head">monthly</p>

      <li>
        <p>$1400 for cabin </p>
      </li>

      <li>
        <p>$1160 for fourplex unit </p>
      </li>
    </ul>

    <ul class="alternating-colors">
      <p class="head">yearly</p>

      <li>
        <p>$16800 for cabin </p>
      </li>

      <li>
        <p>$13920 for fourplex </p>
      </li>
    </ul>
  </div> -->

  <div class="list-2">
    <strong class="main-head">How to stay with us?</strong>

    <div class="price-cards">
      <div class="each-card">
        <p class="item"><span>-</span>Call over the phone</p>
      </div>

      <div class="each-card">
        <p class="item"><span>-</span>Come in person </p>
      </div>

      <!-- <div class="each-card">
        <p class="item"><span>-</span>Book here online (form shown below) </p>
      </div> -->

      <div class="each-card">
        <p class="item"><span>-</span>Book through airbnb</p>
      </div>
    </div>
  </div>

  <!-- List 3 -->
  <!-- <div class="list">
    <strong>How to stay with us?</strong>

    <ul class="alternating-colors">
      <li>
        <p>Call over the phone </p>
      </li>

      <li>
        <p>Come in person </p>
      </li>

      <li>
        <p>book here online (form shown below)</p>
      </li>

      <li>
        <p>book through airbnb </p>
      </li>

    </ul>
  </div> -->

  <!-- Cards -->
  <div class="cards">
    @for(image of images; track image){
    <div class="each-card" [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
      <div class="card-inner"></div>
      <div class="content">
        <p class="heading">Card Hover</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipii
          voluptas ten mollitia pariatur odit, ab
          minus ratione adipisci accusamus vel est excepturi laboriosam magnam
          necessitatibus dignissimos molestias.
        </p>
      </div>
    </div>
    }
  </div>

  <!-- footer -->
  <div class="foot d-flex text-dark">
    <div class="box mt-5">
      <h4><span class="top fw-bolder fs-3">Contact Us</span></h4>
      <div id="top1">
        <br />
        <h5 class="pa">Phone</h5>
        +1 409-978-2400
        <br /><br />
        <h5 class="pa">Address</h5>
        8518 Hwy 6, Hitchcock, TX 77563, United States
      </div>
    </div>

    <div class="box1 ms-5 mt-5">
      <!-- <img class="footerim" src="./Logo figma.png" alt=""> -->
      <p class="text-center">
        "Escape to serene bayou cabins for a perfect blend of tranquility and
        comfort."
      </p>

      <!-- <h4 id="follow"> <br><br>
            <i class="fa-brands fa-instagram"></i>&nbsp;
            <i class="fa-brands fa-telegram"></i>&nbsp;
            <i class="fa-brands fa-facebook"></i>&nbsp;
            <i class="fa-brands fa-whatsapp"></i>
        </h4> -->
    </div>

    <div class="box ms-5 mt-5">
      <h4><span class="top fw-bolder fs-3">Utility Pages</span></h4>
      <p id="top1">
        <br /><br />
        404 Not found
        <br />
        <br />
        Password Protected
        <br />
        <br />
        Licences
        <br />
        <br />
      </p>
    </div>
    <div class="footer-img mt-5"></div>
  </div>
</div>