<div class="App">
  <div class="cover">
    <img src="https://lh3.googleusercontent.com/p/AF1QipPkBui6_NUqTQrLRYF4h7WY7Zc9v05jZp3_GVJK=s1360-w1360-h1020"
      alt="Cover" class="cover-image" />
    <div class="cover-overlay"></div>
    <div class="cover-content">
      <h1 class="cover-title">
        Find <span class="highlight">comfort</span>, Find
        <span class="highlight">style</span>, Find
        <span class="highlight">home.</span>
      </h1>
      <div class="sub-title">
        <h1>Your perfect rental awaits</h1>
      </div>
      <div class="description">
        Cozy cabins nestled by serene bayou waters, perfect for a tranquil
        retreat.<br />Experience nature's beauty and unwind in comfort.
      </div>
      <a class="get-started">Let's get started...</a>
      <div class="sub-title">
        <h6 class="text-primary">
          Phone: <a class="link-for-phone"> +1 409-978-2400</a>
        </h6>
      </div>
    </div>
  </div>

  <!-- 2nd container -->
  <div class="row container-2">
    <h1 class="first-head">
      <span class="span-head">W</span><span class="reduce">elcome to Cabins on the Bayou</span>
    </h1>

    <div class="img-and-desc">
      <div class="fcontainer-txt">
        <p class="fpara">
          Our story begins with the founders, Darrell and Barbara Edgley, who hand built the cabins that you could be
          staying in! The original idea for cabins on the bayou was a place for plant workers to stay while away from
          home
          for company trips. Currently we still rent to many plant workers, as well as people looking for a home away
          from
          home, or even long term residents; we thrive to give every resident a comfortable and reliable stay with us.
        </p>
      </div>
      <div class="desc-image col-lg-4">
        <!-- <img src="https://www.bayoucabins.com/assets/images/img1.png" alt="" class="img1" /> -->
      </div>
    </div>
  </div>

  <!-- List 1-->
  <div class="list">
    <div class="details-list">
      <p class="heading">Things you may like to know before staying with us</p>

      <div class="details-grid">
        <p><span>-</span> We have an open laundromat on the property</p>
        <p><span>-</span> We provide internet </p>
        <p><span>-</span> We have community grills and fire pits for you to use at your leisure</p>
        <p><span>-</span> No pets allowed (esa and service anaimals are accommodated )</p>
        <p><span>-</span> All units come fully stocked with dining utensils, pots and pans, as well as a set of towles
          and toiletries for the bathroom</p>
        <p><span>-</span> We offer full sized cabins as well as smaller units in fourplex</p>
        <p><span>-</span> We offer week to week payments for rent or month to month</p>
        <p><span>-</span> All units 2 beds 1 bathroom second beds are located in a loft </p>
        <p><span>-</span> All units come with one parking spot more can be requested at no charge </p>
        <p><span>-</span> Our fourplex units are 285 sq ft, and our cabins are 390 sq ft</p>
      </div>
    </div>
  </div>

  <!-- List 2 -->

  <div class="list">
    <div class="details-list">
      <p class="heading">How to stay with us?</p>

      <div class="details-grid stay-us">
        <p><span>-</span> Call over the phone</p>
        <p><span>-</span> Come in person </p>
        <p><span>-</span> Book through airbnb</p>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="cards">
    @for(image of images; track image){
    <div class="each-card" [ngStyle]="{ 'background-image': 'url(' + image.url + ')' }">
      <div class="card-inner"></div>
      <div class="content">
        <p class="heading">{{image.heading}}</p>
        <p>{{image.desc}}</p>
      </div>
    </div>
    }
  </div>

  <!-- footer -->
  <!-- <div class="foot d-flex text-dark">
    <div class="box mt-5">
      <h4><span class="top fw-bolder fs-3">Contact Us</span></h4>
      <div id="top1">
        <br />
        <h5 class="pa">Phone</h5>
        +1 409-978-2400
        <br /><br />
        <h5 class="pa">Address</h5>
        8518 Hwy 6, Hitchcock, TX 77563, United States
      </div>
    </div>

    <div class="box1 ms-5 mt-5">
      <p class="text-center">
        "Escape to serene bayou cabins for a perfect blend of tranquility and
        comfort."
      </p>
    </div>

    <div class="box ms-5 mt-5">
      <h4><span class="top fw-bolder fs-3">Utility Pages</span></h4>
      <p id="top1">
        <br /><br />
        404 Not found
        <br />
        <br />
        Password Protected
        <br />
        <br />
        Licences
        <br />
        <br />
      </p>
    </div>
    <div class="footer-img mt-5"></div>
  </div> -->

  <div class="footer-container">
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Cabins on the<span> Bayou</span></h3>

        <p class="footer-company-name">© 2017 Bayou Cabins</p>
      </div>

      <div class="footer-center">

        <div class="footer-details">
          <img src="../assets/images/location-outline.svg" alt="">
          <p><span>8518 Hwy 6, Hitchcock,</span> TX 77563, United States</p>
        </div>

        <div class="footer-details">
          <img src="../assets/images/call-outline.svg" alt="">
          <p>+1 409-978-2400</p>
        </div>

        <div class="footer-details">
          <img src="../assets/images/earth-outline.svg" alt="">
          <p><a href="mailto:support@company.com">www.bayoucabins.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          "Escape to serene Bayou cabins for a perfect blend of tranquility and
          comfort."
        </p>

      </div>

    </footer>
  </div>
</div>