/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    transition: all 0.15s;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eff1f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbbfc9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #adb0b9;
}